/*--------------------------------------------------
					         CSS Site CV
				          Sophie Hernot
						           ---
			     Dernière MaJ : 03 / 11 / 2020
--------------------------------------------------*/


				        /*--- Titres ---*/

h1
{
	padding : 5px;
 	padding-top: 0px;
	color: #06A161;
}

h2
{
	padding : 5px;
	border: 3px #27CE88 outset;
	box-shadow: 6px 6px 6px black;
	color: #1D9A66;
	vertical-align: middle;
	text-align: center;
}

h3
{
	font-size: large;
	color: #1D9A66;
	text-align: justify;
}

a
{
	font-size: large;
	color: #1D9A66;
	text-align: justify;

}

dt
{
	color: #2E9C6F;
}

dd
{
	color: #348A67;
	font-style: oblique;
	font-size: small;
	text-align: justify;
}

ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li 
{
  float: left;
}

li a 
{
  display: block;
  font-size: medium;
  color: white;
  float: left;
  width: 150px;
  text-align: center;
  padding: 14px 83px;
  text-decoration: none;
  vertical-align: middle;
}

li a:hover 
{
  background-color: #06A161;
}

.active 
{
  background-color: #06A161;
}

body
{
	background-color: white;
}

td
{
	padding-right: 20px;
	padding-left: 20px;
	vertical-align: middle;
	text-align: center;
	color: #2E9C6F;
	font-size: medium;
}

.Mail
{
	font-size: x-small;
}

.Notes
{
	font-size: x-small;
}

section
{
	padding: 20px;
    border: 1px solid blue;
    margin-left: 170px;
    margin-right: 170px;
}

header
{
	padding: 20px;
    border: 1px solid blue;
}

footer
{
	background-color: #79D4F2;
	padding: 3px;
	vertical-align: middle;
	text-align: center;
	/*border: 1px solid blue;*/
}

em
{
	font-size: large;
	font-weight: bold;

}






				        /*--- Images ---*/


img
{
	padding-right: 20px;
	padding-bottom: 20px;
}

.Pdp
{
    float: left;
    border-radius: 50%;
}





			/*--- Polaroïd Projets ---*/


.polaroids
{
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
}

div.polaroid {
  margin: 10px;
  width: 30%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div img
{
	width:100%;
	padding-right: 0px;
	padding-bottom: 0px;
}

div.legende 
{
  text-align: center;
  padding: 5px;
}

.container 
{
  position: relative;
  width: 100%;
}

.overlay 
{
  position: absolute;
  opacity: 80%;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay 
{
  bottom: 0;
  height: 100%;
}

.text 
{
  word-wrap: break-word;
  overflow: hidden;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  right: -20%;
  text-align: center;
  vertical-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}



